body{
    background-color: aliceblue;
}

.Flex-Conteiner1{
    display: inline-flex;
    flex-direction: row;
    background-color: blueviolet;
    border: solid 2px black;
}

.Flex-Conteiner2{
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    border: solid 2px black;
}

.Flex-Item{
    background-color: purple;
    border: solid 2px black;
}