body{
    background-image: url(BackgroundBlue.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.Foto { 
    float: left;
    width: 7.5%;
    height: 7.5%;
    border: 1px black solid;
    border-radius: 100%;
    margin-left: 5%;
}

.ColorTittle{
    display: inline-block;
    background-color: antiquewhite;
    border: 1px black solid ;
    border-radius: 10px;
    font-family: Courier;
    color: darkblue;
    width: 77.5%;
    padding: 1%;
    margin-bottom: 1%;
}

.ColorText{
    background-color: antiquewhite;
    border: 1px black solid ;
    border-radius: 10px;
    font-family: Courier;
    color: darkblue;
    width: 90%;
    padding: 1%;
    margin-bottom: 1%;
}

.Article{
    background-color: antiquewhite;
    border: 1px black solid ;
    border-radius: 10px;
    font-family: Courier;
    color: darkblue;
    display: inline-table;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 1%;
    width: 40%;
    padding: 1%;
}

.ArticleLocal{
    display: inline-table;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 1%;
    width: 40%;
    padding: 1%;
}