body {
  background-color: #91cfd7;
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

fieldset {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 2.5vw;
  background-color: antiquewhite;
  width: 75%;

  img {
    width: 25%;
    border-radius: 5vw;
    padding: 2.5vw;
  }

  section {
    width: 50%;
    display: flex;
      flex-direction: column;
      align-items: center;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;

      input {
        background-color: #91cfd7;
        border-radius: 2vw;
        text-align: center;
        width: 100%;
      }
    }

    button {
      background-color: #91cfd7;
      border-radius: 2vw;
    }
  }
}