body{
    background-color: midnightblue;
}

section{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

header{
    background-color: antiquewhite;
    border-radius: 4vw;
    display: flex;
    flex-direction: row;
    border: solid 1px black;
    width: 50%;
    justify-content: space-evenly;
    font-size: 1vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    img{
        width: 15%;
    }
}

article{
    background-color: antiquewhite;
    border-radius: 4vw;
    display: flex;
    flex-direction: row;
    border: solid 1px black;
    width: 90%;
    padding: 1%;
    font-size: 1.5vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;

    img {
        width: 40%;
        padding: 1%;
        border-radius: 5vw;
    }
}

footer{
    background-color: antiquewhite;
    border-radius: 4vw;
    display: flex;
    flex-direction: row;
    border: solid 1px black;
    width: 90%;
    justify-content: space-evenly;
    font-size: 1vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    img{
        width: 10%;
    }
}
