body {
    background-color: navy;
}

.ColorTittle{
    background-color: antiquewhite;
    border: 1px black solid ;
    font-family: Courier;
    color: slateblue;
    width: 85%;
    padding: 1%;
    margin-bottom: 1%;
}
